@font-face {
    font-family: 'New Rail Alphabet';
    src: url('./assets/fonts/A2-Type-New-Rail-Alphabet-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Klavika';
    src: url('./assets/fonts/KlavikaBoldBold.otf') format('opentype');
    font-weight: bold;
}

@import './styles/colors';
@import './styles/responsive';

@page {
    size: A5;
    margin: 0mm;
    background: var(--background-color);
}

html {
    @include poly-fluid-sizing(
        'font-size',
        (
            650px: 5px,
            1280px: 10px,
            1920px: 15px
        )
    );

    box-sizing: border-box;

    body {
        background: var(--background-color);
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        box-sizing: border-box;
        background-image: url('./assets/images/monutam-bgr.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color-adjust: exact;

        @media print {
            overflow-x: hidden;
            overflow-y: auto;
            background-image: linear-gradient(var(--background-color), var(--background-color));

            mt-root {
                .cv-app-root {
                    mt-infos {
                        .mt-infos {
                            border: none !important;
                        }
                    }
                }
            }
        }

        mt-root {
            overflow: hidden;
        }

        * {
            color: var(--font-color);
            box-sizing: border-box;
            font-family: 'New Rail Alphabet';
            font-size: 14px;
            line-height: 1.538;

            &[accent] {
                color: var(--accent);
            }

            &[emphasized] {
                color: var(--emphasized-font-color);
            }

            &[contrast] {
                color: var(--font-color-contrast);
            }
        }
    }
}
