@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-LightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-Medium.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-MediumItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@import './styles/colors';

html {
    font-size: 10px;
    background: #09131a;
    box-sizing: border-box;

    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        box-sizing: border-box;

        mt-root {
            overflow: hidden;
        }

        * {
            color: var(--font-color);
            box-sizing: border-box;

            &[accent] {
                color: var(--accent);
            }

            &[emphasized] {
                color: var(--emphasized-font-color);
            }

            &[contrast] {
                color: var(--font-color-contrast);
            }
        }

        // h1,
        // h2,
        // h3,
        // h4 {
        //     margin: 0;
        //     line-height: 1.25;
        // }

        // h1 {
        //     font-size: 36px;
        // }

        // h2 {
        //     font-size: 24px;
        // }

        // h4 {
        //     font-weight: 400;
        // }

        // section {
        //     display: grid;
        //     grid-gap: 25px;
        //     padding: 25px 0;
        //     overflow: hidden;

        //     &:not(:last-child) {
        //         border-bottom: solid 3px #f0f0f0;
        //     }
        // }

        // * {
        //     font-family: Rubik;

        //     [emphasized] {
        //         color: #2196f3;
        //     }

        //     &[secondary] {
        //         color: #bbb;
        //     }

        //     &[field-name] {
        //         color: #2196f3;
        //         font-weight: 200;
        //         text-transform: uppercase;
        //     }
        // }
    }

    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to bottom right, var(--overlay-start-color), var(--overlay-end-color));

        pointer-events: none;
    }
}
