<div class="cv-app-root">
    <div class="header">
        <svg><use xlink:href="../assets/svgs/icons.svg#tm-logo"></use></svg>
        <div class="contacts">
            <mt-label-value>
                <div accent mt-label>{{ 'header.name.part_1' | translate }}</div>
                <div emphasized>{{ 'header.name.part_2' | translate }}</div>
            </mt-label-value>
            <mt-label-value class="phone">
                <div mt-label>{{ 'header.phone.label' | translate }}</div>
                <a href="tel:+36303749817">+36 30 374 9817</a>
            </mt-label-value>
            <mt-label-value class="label-value email">
                <div mt-label>{{ 'header.email.label' | translate }}</div>
                <a href="mailto:monutam91@gmail.com">monutam91@gmail.com</a>
            </mt-label-value>
        </div>
    </div>

    <mt-infos>
        <mt-info-item>
            <span mt-title emphasized>{{ 'infos.summary.title' | translate }}</span>
            {{ 'infos.summary.description' | translate }}
        </mt-info-item>
        <mt-info-item>
            <span mt-title emphasized>{{ 'infos.fun-fact.title' | translate }}</span>
            {{ 'infos.fun-fact.description' | translate }}
        </mt-info-item>
        <mt-info-item>
            <span mt-title emphasized>{{ 'infos.experiences.title' | translate }}</span>

            <div class="subitem">
                <span emphasized>{{ 'infos.experiences.griff.title' | translate }}</span>
                <div class="description">
                    {{ 'infos.experiences.griff.description' | translate }}
                </div>
            </div>
            <div class="subitem">
                <span emphasized>{{ 'infos.experiences.nitro.title' | translate }}</span>
                <div class="description">
                    {{ 'infos.experiences.nitro.description' | translate }}
                </div>
            </div>
            <div class="subitem">
                <span emphasized>{{ 'infos.experiences.cas-angular.title' | translate }}</span>
                <div class="description">
                    {{ 'infos.experiences.cas-angular.description' | translate }}
                </div>
            </div>
            <div class="subitem">
                <span emphasized>{{ 'infos.experiences.cas-NET.title' | translate }}</span>
                <div class="description">
                    {{ 'infos.experiences.cas-NET.description' | translate }}
                </div>
            </div>
        </mt-info-item>
    </mt-infos>

    <div class="profile">
        <img src="../assets/images/i-am-monutam.png" />
        <div class="profile-infos">
            <div class="birthday" contrast>
                <span>{{ 'profile.birthday.year' | translate }}</span>
                <span>{{ 'profile.birthday.month' | translate }}</span>
                <span>{{ 'profile.birthday.day' | translate }}</span>
            </div>
            <img class="qr-code" src="../assets/images/cv-qr.png" />
            <div emphasized class="profession">
                <div emphasized>{{ 'profile.profession.software' | translate }}</div>
                <div emphasized>{{ 'profile.profession.engineer' | translate }}</div>
            </div>
        </div>
    </div>
</div>
