<div class="cv-app-root">
    <section class="contact">
        <div class="name-position">
            <h1 name>Tamás Mónus</h1>
            <h2 position emphasized>Software Engineer</h2>
        </div>
        <img profile src="../assets/images/me.jpg" alt="Profile picture of Tamás Mónus" title="Profile picture of Tamás Mónus">
        <div class="infos">
            <div class="info">
                <span field-name>Address</span>
                <span field-value>
                    <pre>Bálint Sándor utca 10. 1/2,
Szeged, 6724, Hungary
</pre>
                </span>
            </div>
            <div class="info">
                <span field-name>Phone</span>
                <span field-value>
                    <a href="tel:+36303749817">+36 30 374-9817</a>
                </span>
            </div>
            <div class="info">
                <span field-name>Email</span>
                <span field-value>
                    <a href="mailto:monutam91@gmail.com">monutam91@gmail.com</a>
                </span>
            </div>
            <div class="info">
                <span field-name>Date / Place of birth</span>
                <span field-value>
                    1991. 04. 15 / Szentes
                </span>
            </div>
            <div class="info">
                <span field-name>Nationality</span>
                <span field-value>
                    Hungarian
                </span>
            </div>
        </div>
    </section>
    <section class="summary">
        <h1>Summary</h1>
        <div>
            I'm eager to find solutions to challenging tasks in every field of
            Software Engineering and also like to take part in the company's
            cultural tasks. During my work I try to find the best solution in the
            given time. I have experience in .NET based applications (ASP.NET,
            WPF, Windows 8.1 apps and UWP) and also in Full Stack systems
            (SOA and regular REST based backend and also some experience
            with Firebase), written in Javascript. (NodeJS, Angular)
        </div>
    </section>
    <section class="experience">
        <h1>Experience</h1>
        <div class="job-title">
            <h3>CAS Software Kft.</h3>
            <div class="duration" field-title>4 years 7 months</div>
        </div>
        <div class="positions">
            <div class="position">
                <div class="title">
                    <h3>Web Developer</h3>
                    <h4>April 2016 - Present</h4>
                    <div secondary>Hungary, Szeged</div>
                </div>
                <div class="summary">
                    We started to research the possibilites of the Angular framework at its first
                    beta release and I am working with it since then. Thus, I have a wide range of
                    experience with it. Now, I develop applications and libraries and also giving
                    advices and supervising other Angular projects inside the company. During my
                    work, I also created full stack applications including both Back End and Front
                    End solutions. I have gained experience in SOA and regular REST based
                    Back End services, written in NodeJS. Additionally, I have some experience in
                    FireBase.
                </div>
            </div>
            <div class="position">
                <div class="title">
                    <h3>.NET Developer</h3>
                    <h4>April 2014 - March 2016 (2 years)</h4>
                    <div secondary>Hungary, Szeged</div>
                </div>
                <div class="summary">
                    I have to find solutions to unique problems and tasks, cooperating with other
                    team members or by myself. I have some experience in developing ASP.NET
                    Web applications, but mostly I worked on WPF, Windows 8-8.1 and UWP
                    applications.
                </div>
            </div>
        </div>
    </section>
    <section class="education">
        <h1>Education</h1>
        <div class="schools">
            <div class="school">
                <h3>University of Szeged</h3>
                <h4>Computer Scientist Msc · (2013 - 2015)</h4>
            </div>
            <div class="school">
                <h3>University of Szeged</h3>
                <h4>Software Information Technologist Bsc · (2010 - 2013)</h4>
            </div>
        </div>
    </section>
</div>
