div.cv-app-root {
    display: grid;
    grid-template: 80px 1fr / 80fr 36fr;
    grid-template-areas:
        'header profile'
        'cv profile';
    grid-gap: 4rem;

    overflow: hidden;
    height: 100%;
    padding: 4rem;

    > div.header {
        display: grid;
        grid-template: max-content / 80px 1fr;
        grid-template-areas: 'logo contacts';

        grid-area: header;

        > svg {
            grid-area: logo;
            background-color: white;
            width: 80px;
            height: 80px;
        }

        > div.contacts {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            grid-area: contacts;

            border: solid 1px var(--border-color);

            > * {
                padding: 15px 40px;
            }
        }
    }

    > div.info {
        grid-area: cv;
        padding: 0 12rem 0 4rem;
    }

    > div.profile {
        display: grid;
        grid-template: max-content 1fr max-content / max-content 1fr max-content;
        grid-template-areas:
            'birthday . qr'
            '. . .'
            'profession . .';
        grid-area: profile;

        background-image: url('../assets/images/i-am-monutam.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 15px;
        position: relative;

        > div.birthday {
            align-self: start;
            justify-self: start;
            grid-area: birthday;
            
            font-family: 'Klavika';
            font-weight: bold;
            transform: rotate(90deg);
            position: absolute;
            top: 18px;
            left: -18px;
        }

        > img.qr-code {
            grid-area: qr;
            align-self: start;
            justify-self: end;

            width: 5rem;
            height: 5rem;
        }

        > div.profession {
            display: grid;
            grid-area: profession;
            justify-self: start;
        }
    }
}
