div.cv-app-root {
    display: grid;
    padding: 0 50px;
    overflow: hidden;

    section.contact {
        display: grid;
        grid-template: max-content max-content / 1fr 1fr auto;
        grid-gap: 25px;

        div.name-position {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-area: 1 / 1 / 2 / 3;
            grid-gap: 25px;

            align-self: center;
        }

        > [profile] {
            grid-area: 1 / 3 / 2 / 4;
            width: 150px;
            height: 150px;
            border-radius: 75px;
            overflow: hidden;
        }

        > div.infos {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            grid-gap: 25px;
            grid-area: 2 / 1 / 3 / 4;

            > .info {
                display: grid;
                grid-template: max-content / 150px max-content;
                grid-gap: 15px;

                > [field-name] {
                    font-weight: 200;
                }

                > [field-value] {
                    pre {
                        margin: 0;
                    }
                }

                a {
                    text-decoration: none;
                    color: black;

                    :visited {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        @media print {
            page-break-after: always;
        }
    }

    section.experience {
        > div.job-title {
            &::after {
                content: '';
                display: block;
                width: 30%;
                height: 3px;
                background-color: #f0f0f0;
                margin-top: 10px;
            }
        }

        div.positions {
            display: grid;
            grid-gap: 25px;

            div.position {
                display: grid;
                grid-template: max-content 1fr / 1fr;
                grid-gap: 25px;

                &:not(:last-child) {
                    &::after {
                        content: '';
                        display: block;
                        width: 30%;
                        height: 3px;
                        background-color: #f0f0f0;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    section.education {
        > div.schools {
            display: grid;
            grid-gap: 25px;
        }
    }
}
