:host {
    div.mt-info-item {
        display: grid;
        grid-template: max-content / 150px 1fr;
        grid-gap: 6rem;

        > div.info-title {
            display: grid;
            grid-template: max-content / 10px max-content;
            grid-gap: 7rem;

            color: var(--emphasized-font-color);
            align-self: start;

            > div.marker {
                width: 10px;
                height: 10px;
                border: 2px solid var(--accent);

                margin: 4px 0;
                justify-self: start;
            }
        }

        > div.content {
            display: grid;
            grid-auto-flow: row;

            grid-gap: 2.5rem;

            white-space: pre-wrap;
            word-break: break-word;
        }
    }
}
