:root {
    --accent: #3377ff;
    --icon-background: #fff;
    --background-color: #09131a;
    --font-color: rgba(255, 255, 255, 0.2);
    --emphasized-font-color: #fff;
    --font-color-contrast: #000;
    --border-color: #273642;

    --overlay-start-color: rgba(255, 255, 255, 0);
    --overlay-end-color: rgba(255, 255, 255, 0.3);

    --scrollbar-background-color: #fff;

    @media print {
        --scrollbar-background-color: transparent;
    }
}
