:root {
    --accent: rgb(51, 119, 255);
    --background-color: transparent;
    --font-color: rgba(255, 255, 255, 0.2);
    --emphasized-font-color: #fff;
    --font-color-contrast: #000;
    --border-color: #273642;

    --overlay-start-color: rgba(255, 255, 255, 0);
    --overlay-end-color: rgba(255, 255, 255, 0.3);

    --scrollbar-background-color: #fff;
}
